[Unit]
Description=Concierge Camera Watcher
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/dietpi/concierge/concierge.py
WorkingDirectory=/home/dietpi/concierge
Restart=always
User=dietpi

[Install]
WantedBy=multi-user.target
