[Unit]
Description=Concierge Camera Watcher
After=network.target

[Service]
ExecStart=/root/concierge/venv/bin/python /root/concierge/concierge.py
WorkingDirectory=/root/concierge
Restart=always
User=root
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target